<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
					 if(playerChoice){
						var image_src=playerInfo[0].img_src;
					}
					else{
					var image_src = '../resources/img/helmet.jpg';
					}
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/select_player" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select player
							 </option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
									<% if(players){
										var temp = 1;
										var options='';
										players.forEach(function(item){
											options+= '<option value='+temp.toString()+'>'+item.name+'</option>';
											temp++;
										});
										%>
										<%- options %>
									<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td> <%
								if (playerChoice){
									%><%- playerInfo[0].year %>
							<% } %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td> <% if(playerChoice){
								%> <%- playerInfo[0].major %> <%
							}	%> </td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td> <% if (playerChoice){
								%><%- numGames[0].count %><%
							} %>	</td>
						</tr>
						<tr>
							<td>Passing Yards: <% if(playerChoice){
								%> <%- playerInfo[0].passing_yards %> <%
							}	%> </td>
							<td>Avg. Passing Yards: <% if (playerChoice){
								var avg = playerInfo[0].passing_yards/numGames[0].count;
								%><%- avg.toFixed(2) %><%
							} %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <% if(playerChoice){
								%> <%- playerInfo[0].rushing_yards %> <%
							}	%> </td>
							<td>Avg. Rushing Yards: <% if (playerChoice){
								var avg = playerInfo[0].rushing_yards/numGames[0].count;
								%><%- avg.toFixed(2) %><%
							} %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <% if(playerChoice){
								%> <%- playerInfo[0].receiving_yards %> <%
							}	%> </td>
							<td>Avg. Receiving Yards: <% if (playerChoice){
								var avg = playerInfo[0].receiving_yards/numGames[0].count;
								%><%- avg.toFixed(2) %><%
							} %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
